<footer>
    <div id="footer">
        <div>
            <h3 class="text-center">Politique de confidentialité</h3>
        </div>
        <div>
            <h3 class="text-center">Mairie de Saint Quentin en Yvelines</h3>
            <p>Place Georges Pompidou - CS 80317</p>
            <p>78054 Saint Quentin en Yvelines</p>
            <p>Adresse mail : <span class="tonic">administration@sqy_culture.org</span></p>
            <p>Administration : <span class="tonic">01 30 96 99 30</span></p>
            <p>Billetterie : <span class="tonic">01 30 96 99 00</span></p>
        </div>
        <div>
            <h3 class="text-center">Suivez-nous</h3>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
    </div>
</footer>